# Generic minimal arm64 bookworm system with apt, a small handful of utils and
# an RPiOS style partition layout

[image]
layout=mbr/simple_dual
boot_part_size=125%
root_part_size=125%
name=deb12-arm64-min

[device]
class=pi5
profile=vm1-basic
